# Django #
*.log
*.pot
*.pyc
src/__pycache__
src/db.sqlite3
src/media
.questionnaire-venv.prod

# Backup files #
src/*.bak

# If you are using PyCharm #
# User-specific stuff
.idea

# File-based project format
src/*.iws

# IntelliJ
out/

# JIRA plugin
src/atlassian-ide-plugin.xml

# Python #
src/*.py[cod]
src/*$py.class

# Distribution / packaging
src/.Python build/
src/develop-eggs/
src/dist/
src/downloads/
src/eggs/
src/.eggs/
src/lib/
src/lib64/
src/parts/
src/sdist/
src/var/
src/wheels/
src/*.egg-info/
src/.installed.cfg
src/*.egg
src/*.manifest
src/*.spec

# Installer logs
src/pip-log.txt
src/pip-delete-this-directory.txt

# Unit test / coverage reports
src/htmlcov/
src/.tox/
src/.coverage
src/.coverage.*
src/.cache
src/.pytest_cache/
src/nosetests.xml
src/coverage.xml
src/*.cover
src/.hypothesis/

# Jupyter Notebook
src/.ipynb_checkpoints

# pyenv
src/.python-version

# celery
src/celerybeat-schedule.*

# SageMath parsed files
src/*.sage.py

# Environments
src/.env
src/.venv
src/env/
src/venv/
src/ENV/
src/env.bak/
src/venv.bak/
questionnaire-venv

# mkdocs documentation
/site

# mypy
src/.mypy_cache/

# sftp configuration file
src/sftp-config.json

# Package control specific files Package
src/Control.last-run
src/Control.ca-list
src/Control.ca-bundle
src/Control.system-ca-bundle
src/GitHub.sublime-settings
