<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form action="{% url 'survey:question' survey.id question_pos_in_survey %}" method="post">
    {% csrf_token %}
    <p>{{ question.question }}</p>
      {% if question.answers.all %}
        {% for answer in question.answers.all %}
          <input type="{{ question.type | lower }}" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
          <label for="answer{{ forloop.counter }}">{{ answer.answer }}</label>
        {% endfor %}
      {% else %}
      <input type="text" name="answer" value="">
      {% endif %}
    <br>
    <input type="submit" value="Send">
  </form>
</body>
</html>