<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'users:profile' %}">{{ user.first_name }}</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
    {% if survey and not survey_outdated %}
        <p>{{ survey.name }}</p>
        <p>{{ survey.description }}</p>
        <a href="{% url 'survey:question' survey.id 1 %}">Begin survey</a>
    {% elif survey_outdated %}
        <p>Survey outdated</p>
    {% else %}
        <p>Survey not found</p>
    {% endif %}
</body>
</html>